!!!5
html(lang="en")
  head
    title Find Your Friends

    meta(name="viewport",content="width=device-width, target-densitydpi=device-dpi")

    link(href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css", rel="stylesheet")
    link(href="/static/css/bootstrap.css", rel="stylesheet")
    link(href="/static/css/bootstrap-responsive.css", rel="stylesheet")

    link(href="/static/css/style.css", rel="stylesheet")


  body

    .navbar.navbar-fixed-top: .navbar-inner
      ul.nav
        li.active: a(href="#map", data-toggle="pill") Map
        li: a(href="#friends", data-toggle="pill") Friends
        li: a(href="#places", data-toggle="pill") Places


    .ct
      .tab-content
        #map.tab-pane.active
          #mapel

        #friends.tab-pane
          table.table.table-bordered: tbody
              tr
                td.link: a(href="#friends/jon") Jon
                td.narrow.link: a(href="#map"): i.icon-map-marker &nbsp;&gt;
              tr
                td.link: a(href="#friends/armando") Armando
                td.narrow.link: a(href="#map"): i.icon-map-marker &nbsp;&gt;

          .navbar.navbar-fixed-bottom: .navbar-inner
            span.pull-right &nbsp;&nbsp;
            a(href="#friends/add").btn.btn-info.pull-right Add Friend


        #places.tab-pane
          table.table.table-bordered: tbody
              tr
                td.narrow: input(type="checkbox", checked)
                td.link: a(href="#friends") Friends
                  span.pull-right: span.badge 2
              tr
                td.narrow: input(type="checkbox", checked)
                td.link: a(href="#places/stages") Stages
                  span.pull-right: span.badge 32
              tr
                td.narrow: input(type="checkbox", checked)
                td.link: a(href="#places/toilets") Toilets
                  span.pull-right: span.badge 12

          .navbar.navbar-fixed-bottom: .navbar-inner
            span.pull-right &nbsp;&nbsp;
            a(href="#places/add").btn.btn-info.pull-right Add Place


    script(src="/static/js/lib/socket.io.min.js")
    //script(src="/static/js/lib/zepto.min.js")
    script(src="/static/js/lib/jquery.min.js")
    script(src="/static/js/lib/bootstrap.js")
    script(src="/static/js/lib/leaflet.js")
    script(src="/static/js/lib/lodash.min.js")
    script(src="/static/js/lib/backbone-min.js")

    script(src="/static/js/script.js")
    script(src="/static/js/map.js")
    script(src="/static/js/friends.js")
    script(src="/static/js/places.js")

